[Service]
ExecStart=/usr/bin/python eisenbahn.py
WorkingDirectory=/opt/eisenbahn
StandardOutput=syslog
StandardError=syslog
Restart=always
SyslogIdentifier=eisenbahn
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
