[Service]
ExecStart=/usr/bin/python /opt/eisenbahn/eisenbahn.py
StandardOutput=syslog
StandardError=syslog
Restart=always
SyslogIdentifier=eisenbahn
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
